asgiref==3.8.1
certifi==2025.4.26
channels==4.2.2
charset-normalizer==3.4.2
Django==5.2.1
idna==3.10
requests==2.32.3
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.4.0
gunicorn
psycopg2-binary
channels_redis>=4.0.0
daphne
python-decouple